.idea/
My_creds/
google_api/token.pickle
google_api/credentials.json
google_api/__pycache__/
google_api/sprsh_link.txt
logo.png
venv/
app.log
users.csv
bot_token
content_maker/__pycache__/
Katya_kreds/
